// Tab bar.
.v .nH.fY {
  display: flex;
  align-items: stretch;
  background: transparent;

  // All tabs.
  > div {
    flex: 1;
    text-align: center;
    background: transparent;
    transition: .1s all ease-out;
    border-radius: .5em .5em 0 0;

    // Center the links within the tabs.
    display: flex;
    align-items: center;
    justify-content: center;

    a.f0 {
      padding: 1em;
      color: white;
      display: inline-block;
    }
  }

  // Inactive tabs.
  .f1 {
    border: 1px solid white;
    border-radius: .5em .5em 0 0;
    background: rgba($background-color,.2);

    &:hover, &:focus {
      background: rgba($background-color,.6);
      border-bottom: 1px solid $background-color;
    }

    a {
      &:hover, &:focus {
        color: black;
      }
    }
  }

  // Active tab.
  .fZ {
    background-color: $background-color;

    a.f0 {
      color: black;
    }
  }

  // Empty div.  Why?
  .dJ {
    display: none;
  }
}
